/* Fondo de la página */

@font-face {
  font-family: "Letra";
  src: url("letra.TTF");
}

 body {
   background-image: url("trapcake.jpg");
 }

h1 {
  font-family: "Letra";
  text-align: center;
}

h3 {
  font-family: "Letra";
  margin-left: 40px;
}

.botones {
  margin-left: 75px;
}

#videoenemision {
  margin-left: 105px;
  margin-bottom: 10px;
}

.fu3nte {
  margin-left: 410px;
  margin-top: -362px
}
