/* Fondo de la página */

@font-face {
  font-family: "Letra";
  src: url("letra.TTF");
}

 body {
   background-image: url("trapcake.jpg");
   text-align: center;
 }

h1 {
  font-family: "Letra";
}

h3 {
  font-family: "Letra";
}

.botones {
  cursor: pointer;
  border-radius: 15px;
  background-color: #e2889b;
}

.botones:hover {
  background-color: #f25f8d;

}
